.search {
  input[type="text"] {
    padding: 0.5rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    border: none;
    font-size: 0.9rem;
  }
  button {
    border-radius: 0 5px 5px 0 !important;
  }
}
