.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  img {
    width: 12rem;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
  }
  .title {
    cursor: pointer;
    margin-top: 0.7rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 0.95rem;
  }
  a {
    text-overflow: ellipsis;
  }
  p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 0;
    margin-top: auto;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  .rate {
    text-align: left;
    margin: 0.6rem 0 0.8rem 0;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .detail {
    padding: 0 13px !important;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  button {
    background: red;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }
}
