.navbar {
  background-color: black;
  ul {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-left: 1.5rem;
    li {
      color: white;
      display: flex;
      align-items: center;
      margin: 1rem;
      transition: all 0.3s ease;
      &:hover {
        color: #00d0ff;
      }
      button {
        cursor: pointer;
        font-size: 1rem;
        border: none;
        background: #00aeff;
        color: white;
        border-radius: 7px;
        width: 5rem;
        height: 2rem;
      }
    }
    .user {
      margin-left: auto;
      margin-right: 5rem;
      span {
        margin-right: 1rem;
      }
      &:hover {
        color: white;
      }
    }
  }
}
