.navbar {
  background-color: black;
  font-weight: bold;
  font-size: 1.1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  ul {
    margin: 0;
    margin-left: 1rem;
    display: flex;
    list-style-type: none;
    li {
      color: white;
      display: flex;
      align-items: center;
      margin: 1rem;
      transition: all 0.3s ease;
      &:hover {
        color: #00d0ff;
      }
      button {
        cursor: pointer;
        font-size: 1rem;
        border: none;
        background: #f9ff00;
        border-radius: 0.43rem;
        width: 5rem;
        height: 2rem;
        font-weight: bold;
      }
    }
    .user {
      margin-left: auto;
      margin-right: 5rem;
      span {
        margin-right: 1rem;
      }
      &:hover {
        color: white;
      }
    }
  }
}
