.movie_page {
  &__header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    section {
      display: inline-block;
    }
    &__image_section {
      width: 40%;
      text-align: center;
      img {
        width: 60%;
        margin: auto;
        border-radius: 10px;
      }
    }
    &__detail_section {
      width: 60%;
      display: flex;
      justify-content: center;
      h1,
      p,
      button {
        width: 70%;
      }
      p {
        text-align: justify;
      }
      button {
        margin-top: 1rem;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: rgb(241, 44, 208);
        color: white;
        padding: 1rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    }
  }
}
